body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(92, 4, 33)
}

h2, h3{
  color: rgb(4, 10, 92)
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }